<section class="images">
    <!-- Photo by Arina Krasnikova: https://www.pexels.com/photo/cats-near-the-near-the-glass-doors-7726294/ -->
    <img src="../../../assets/pexels-arina-krasnikova-7726294.jpg" alt="Two brown cats sitting in a box that is connected to a window, 
with one orange cat standing next to the box. Photo by Arina Krasnikova">
    <!-- Photo by Kampus Production: https://www.pexels.com/photo/man-sitting-on-beach-sand-beside-three-dogs-8734460/ -->
    <img src="../../../assets/pexels-kampus-production-8734460.jpg" alt="A content man sitting on the beach with two black dogs and one reddish-brown dog.
Photo by Kampus Production">
    <!-- Photo by EKATERINA  BOLOVTSOVA: https://www.pexels.com/photo/turtle-crawling-on-bed-5263887/ -->
    <img src="../../../assets/pexels-ekaterina-bolovtsova-5263887.jpg" alt="A red-eared slider turtle walking around a watercolor paint palette and a 
coloring book. Photo by Ekaterina Bolovtsova" style="transform:scaleX(-1);-webkit-transform:scaleX(-1)">
</section>
<main id="main">
    <h1>Welcome to PetApp! 🐾</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Assumenda laudantium quis, veritatis maxime nemo cupiditate
        saepe culpa laborum excepturi libero voluptatem accusantium
        commodi aliquam mollitia tempora doloribus hic ea sit! Lorem ipsum dolor sit,
        amet consectetur adipisicing elit. Reiciendis, in doloremque deserunt quia odit enim?
        Adipisci numquam deserunt et eum maiores, a quis unde tempore illo obcaecati,
        aut earum temporibus? Lorem, ipsum dolor. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Illo pariatur eaque delectus deserunt. Aliquid, temporibus?
        Eos non asperiores dicta. Veniam mollitia vel aspernatur esse sit nam iste odit
        saepe tempore quod vitae harum magnam, dolor exercitationem blanditiis excepturi
        totam officiis ipsam ipsum fugit non? Culpa rerum fuga eos corrupti,
        dolorum minus dolor velit ullam praesentium perferendis fugiat commodi,
        sed veritatis tempore saepe. Odit animi, velit autem dolorem laborum ex
        dolore nobis totam temporibus voluptatum eveniet ad, corporis perspiciatis,
        perferendis atque.</p>
</main>